body {
  display: block;
  max-width: 90%;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-image: url(http://wallpapercave.com/wp/saiUfL2.png);
}

#canvas {
  background: rgba(255,255,255,0.2);
  max-width: 90%;
  display: block;
  margin: auto;
}

#textCanvas {
  text-align: center;
}

.game-btn {
  font-size: 30px;
  margin: 30px;
  background-color: #C6E2FF;
}



